* {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    max-width: 1200px;
}

.title {
    color: #222;
}

a {
    text-decoration: none;
    outline: none;
    display: block;
    color: #333;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    background: #B9D6F2;
}


.menu-container {
    gap: 20px;    
    display: flex; 
}

.menu-container a {
    font-size: 1.125rem;
    transition: .2s;
    scale: 1;
    font-weight: bold;
}

.menu-container a:hover {
    scale: 1.1;
    color: #006DAA;
}

